body{
  background-color: black;
}
/* .header {
    position: relative; 
  }
  
  .title {
    position: absolute;
    top: 0; 
    left: 0; 
    color:#72DB73;
    
  }
  
  .logo {
    position: absolute;
    top: 0; 
    right: 0; 
    height: 50px;
    width: 50px;
  }
  .movie-heading{
    position: relative;
    color: white;
    font-weight: 300px;
    font-size: 30px;
  }
  .movie-heading p{
    position: absolute;
    top:60px;
  } */

  
  